@import "../mixins/_shadow.scss";

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 35vh;

  background-image: url("/images/header_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 5rem;

    font-style: italic;
    text-align: center;
    margin: 3rem;

    @include text-shadow();

    @media only screen and (max-width: 800px) {
      font-size: 3.5rem;
      margin: 2rem;
    }
  }

  a#home-link {
    position: absolute;
    left: 1rem;
    top: 1rem;
    margin: 0;
    font-size: 1rem;

    &::before {
      content: "← ";
    }
    &::after {
      content: "Back to Logan's Workspace";
    }

    @media only screen and (max-width: 800px) {
      left: auto;

      &::after {
        content: "Home";
      }
    }
  }
}
